

.about-the-author {
    display: grid;
    grid-gap: 10x;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: auto;
    grid-template-areas: 
    "title title title"
    "social photo slideshow"
    "social     text   slideshow";
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: none;

}
p, h1, h2, h3, h4, h5 {
    color: white;
}
.author-image {
    grid-area: "photo";
}

.author-social {
    grid-area: "social";
}

.text {
    grid-area: "text";
    color: white !important;
}

.slideshow {
    grid-area: "slideshow"
}

.author-title {
    grid-area: "title";
}

@font-face {
    font-family: "Mulish" ;
    src: url("../fonts/Mulish-Black.ttf");
}

.body-title, p, h1, h2, h3, h4, h5 {
    font-family: "Mulish";
}