html {
  text-align: center;
  cursor: url(../assets/remote-control.png), pointer;
  height: 100%;
}
a {
  z-index: 2;
}
nav {
  z-index: 10;
}
body, .portfolio-main {
  height: 100%;
  padding-bottom: 100px;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(10deg, rgb(124, 92, 92) 0%, black 100%) fixed;
} 
div#my-info.off-canvas.position-left.reveal-for-large {
  height: 100vh;
  background-color: black;
  box-shadow: 0 100px 200px 90px black;
}
.text-center > .thumbnail {
  border: none;
  padding-bottom: 85px;
}

.index-body {
  height: 100vh;
}
.index-main {
  padding-top: 50px;
}

.logo-long-header {
  float: inline-start;
}
.off-canvas-content{
  background-color: black !important;

}

.black {
  color: black;
}

.row { 
  height: 100%;
}
.align-center {
  align-self: center;
}

.h1-long-header {
  float: inline-end;
  font: white;
}

.box-title:hover {
  animation: "zoom" 10s;
}

.index-main a {
  color: white;
  text-decoration: none;
  height: 100vh;
}
.menu-item {
  font-family: "Mulish";
  color: white;
}
p, h2, h3, h4, h5  {
  color: white !important;
  text-decoration: none;
}

.link {
  color: black;
}

@font-face {
    font-family:"Mulish";
    src: url("../fonts/Mulish-Black.ttf");
}
h1, .h1 {
  font-size: 3rem;
  position: relative;
  color: white;
  font-family: "Mulish";
}

h2, h3, h4, h5 {
  font-family: "Mulish"
}
.box-title {
    font-family: "Mulish";
    background-image: url("https://media.giphy.com/media/FkUyGd7FDh1gk/giphy.gif");
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    margin: 10px 0;
    padding-bottom: 50px;
}

.logo {
    border-radius: 50px;
    padding: 20px;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Mulish";
}

/****************/
/* MEDIA QUERIES */
@media screen and (min-width: 1673px) {
  .title-bar {
    display: none;
  }
}
@media screen and (max-width: 1673px) {
  #my-info.off-canvas.position-left.reveal-for-large {
    max-height: 238px;
}
.row.small-up-2.medium-up-3.large-up-4.porfolio-main {
  display: inline;
  padding: 0px;
  margin: 0px !important;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
.sidebar {
  display: none;
}
.off-canvas-content, div.row.column  {
  margin-left: 0px;
  width: 100%;
  z-index: 1;
}
}
@media screen and (max-width: 1210px) {
  .box-title {
    float: left;

  }
}
@media screen and (max-width: 969px) {
  .box-title {
    font-size: 80px;
  }
.index-body {
  height: 100vh;
}
}
@media screen and (max-width: 492px) {
  .box-title {
    font-size: 60px;
  }
}