html {
  background-color: rgb(112, 135, 112);
  color: white;
  font: 12px;
}

main {
  align-content: center;
  margin: auto;
  padding-top: 200px;
  vertical-align: center;

}
h2 {
  padding: 20px;
}
.flex-container {
  display: flex;
}
.dot {
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 50%;
  display: inline-flex;
  transition: transform 1s ease-in-out;
  margin: 10px
}

.little-dot {
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 50%;
  display: inline-flex;
  transition: transform 1s ease-in-out;
  margin: 10px;
}
.little-dot:hover, .dot:hover {
  transform: scale(1.2);
}

.rounded-corners {
  border-radius: 50px;
}

#logo {
  display: flex;
  transition: 1s;
  vertical-align: center;
  align-self: center;
  padding: 20px;

}
#logo:hover {
  transform: scale(1.1);
}

